<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="JiteshBaagul_Offercountdown::setting" title="Offer Countdown" 
             module="JiteshBaagul_Offercountdown" sortOrder="10" 
             parent="Magento_Backend::content"
             resource="JiteshBaagul_Offercountdown::setting"/>
    </menu>
</config>